* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.bg-container {
  min-height: 100vh;    
  width: 100%;
}

.landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: url("https://res.cloudinary.com/dktrtclrt/image/upload/v1706786631/LLoyd/Group_7053_fl5inc.png");
  background-size: cover;
  background-position: center;
}

.heading {
  color: white;
  font-size: 45px;
  margin-bottom: 10px;
}

.quote {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.sub-heading {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
